.puzzle-entry {
	cursor: pointer;
}

.puzzle-list li {
	list-style: none outside;
}

.puzzle-entry {
	display: flex;
	width: 90%;
	flex-direction: row;
	outline: solid 1px black;
	padding: 8px;
	white-space: normal;
	background-color: #CCCCCC;
}

.puzzle-status {
	min-width: 24px;
	line-height: 18px;
	font-size: 18px;
	padding: 8px;
}

.puzzle-text {
	font-size: 18px;
	max-width: 70%;
	line-height: 18px;
	padding: 8px;
}

.puzzle-rules {
	font-size: 12px;
	line-height: 18px;
	padding: 8px;
}

.puzzle-date {
	font-size: 12px;
	line-height: 18px;
	padding: 8px;
	margin-left: auto;
}
